body{
   font-family: 'open sans', sans-serif;
   background: #333333;
}

header{
   background: linear-gradient(0deg, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)), url(../img/header.png);
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 100vh;
}

.button{
   position: absolute;
   left: 30px;
   top: 50px;
   background: none;
   border:none;
   color: white;
   z-index: 10;
}

.but{
   width: 40px;
   height: 40px;
   background: url(../img/button.png);
   display: none;
}

.close{
   position: absolute;
   top: 20px;
   right: 20px;
   background: none;
   border:none;
   color: white;
   z-index: 10;
   font-size: 20px;
   display: none;
}

.header-div{
   position: absolute;
   width: 100px;
   height: 100%;
   background: rgba(51, 51, 51, 0.75);
   display: flex;
   flex-direction: column;
   justify-content: flex-end; 
   align-items: center;
   height: 100vh;
   z-index: 10;
}

.wrapper-ikonce{
   height: 140px;
   display: flex;
   flex-direction: column;
   justify-content: space-between; 
   align-items: center;
}

.inst{
   background: url(../img/instagram1.png) no-repeat;
   width: 25px;
   height: 25px;
   background-position: center;
}

.inst:hover{
   background: url(../img/instagram.png) no-repeat;
   background-position: center;
}

.fb{
   background: url(../img/fb.png) no-repeat;
   width: 25px;
   height: 25px;
   background-position: center;
}

.fb:hover{
   background: url(../img/fb2.png) no-repeat;
   background-position: center;
}

.vk{
   background: url(../img/vk.png) no-repeat;
   background-position: center;
   width: 25px;
   height: 25px;
}

.vk:hover{
   background: url(../img/vk2.png) no-repeat;
   background-position: center;
}

.yt{
   background: url(../img/youtub.png) no-repeat;
   background-position: center;
   width: 25px;
   height: 25px;
}

.yt:hover{
   background: url(../img/youtub2.png) no-repeat;
   background-position: center;
}

.kont-inf{
   font-weight: bold;
   font-size: 16px;
   line-height: 25px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: #C4C4C4;
   transform: rotate(-90deg);
   margin-bottom: 160px;
   width: 300px;
}

header hr{
   height: 40px;
   color: #C4C4C4;
   margin-bottom: 40px;
}

header .wrapper-ikonce{
   margin-bottom: 40px;
}

.header-menu{
   font-weight: bold;
   font-size: 16px;
   letter-spacing: 0.1em;
   color: #FFFFFF;
   width: 70%;
   position: fixed;
   right: 100px;
   left: 100px;
   z-index: 10;
}

.header-menu1{
   display: none;
   font-weight: bold;
   font-size: 16px;
   letter-spacing: 0.1em;
   color: #FFFFFF;
}

.header-menu ul{
   padding-top: 50px;
   width: 100%;
   display: flex;
   justify-content: space-around;
}

.header-menu1 ul{
   position: absolute;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-between;
   top: 50px;
   left: 10px;
   height: 200px;
}

.header-menu a, .header-menu1 a{
   text-decoration: none;
   color: #FFFFFF;
}

.header-menu a:hover{
   color: #D1A954;
}

.header-menu1 a:hover{
   color: #D1A954;
}

.nomer{
   color: #FFFFFF;
   border-bottom: 2px solid #D1A954;
   font-weight: bold;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   padding-top: 50px;
   width: 160px;
   position: absolute;
   margin-left: 75%;
}

.header-div1{
   max-width: 1200px;   
   display: flex;
   margin-left: 100px;
   margin-right: 100px;
}

.header-center{
   margin: auto;
   max-width: 1100px;
   display: flex;
   justify-content: center;
}

.div-teatr{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 540px;
   height: 300px;
   margin-top: 185px;
}

.div-teatr h1{
   font-weight: bold;
   font-size: 50px;
   line-height: 87px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: #FFFFFF;
}

.div-teatr p{
   font-weight: normal;
   font-size: 14px;
   line-height: 150%;
   color: #FFFFFF;
}

.div-teatr button{
   width: 160px;
   height: 50px;
   font-weight: bold;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: #FFFFFF;
   background: #D1A954;
   border: none;
   transition: all 0.5s ease-in;
}

.div-teatr button:hover{
   background: #FFFFFF;
   color: #D1A954;
}

.skala{
   margin-top: 150px;
   margin-left: 125px;
   width: 300px;
   height: 450px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.image{
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   position: relative;
}

.img1{
   grid-column: 20;
   grid-row: 1; 
   padding-top: 20px;
}

.img2{
   grid-column: 4 / 1;
   grid-row: 1;
}

.skala img{
   width: 280px;
}

.arrow{
   display: flex;
   justify-content: space-between;
}

.arrow1{
   text-align: center;
   height: 25px;
   padding: auto;
}

.arrow1 img{
   width: 40px;
}

.arrow1 span{
   margin-left: 25px;
   font-weight: bold;
   font-size: 18px;
   line-height: 25px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: #C4C4C4;
}

.arrow1:hover{
   cursor: pointer;
}

.arrow2 img{
   width: 40px;
}

.arrow2 span{
   margin-right: 25px;
   font-weight: bold;
   font-size: 18px;
   line-height: 25px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: #FFFFFF;
}

.arrow2:hover{
   cursor: pointer;
}

.o-teatre{
   margin: auto;
   margin-top: 150px;
   max-width: 1100px;
   height: 460px;
}

h2 span{
   color: #D1A954;
}

h2{
   font-weight: 300;
   font-size: 48px;
   line-height: 65px;
   text-align: center;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: white;
}

.text-teatr{
   height: 100%;
   display: flex;
   justify-content: space-between; 
   align-items: flex-end;
}

.luch-teatr{
   height: 290px;
   width: 445px;
   font-weight: normal;
   font-size: 14px;
   line-height: 150%;
   color: #FFFFFF;
}

h3{
   font-weight: bold;
   font-size: 21px;
   line-height: 29px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: #FFFFFF;
}

.luch-teatr p{
   margin-top: 40px;
}

.cifry{
   height: 290px;
   width: 260px;
}

.teatr-img{
   background: url(../img/main-teatr.png);
   height: 290px;
   width: 350px;
}

.info{
   margin-top: 35px;
}

.info p{

   font-weight: bold;
   font-size: 16px;
   line-height: 22px;
   letter-spacing: 0.05em;
   color: #FFFFFF;
}

.info span{
   color: #D1A954;
}

.postanovki{
   margin-left: 150px;
   margin-top: 150px;
   max-width: 1770px;
   height: 715px;
}

.galerey{
   margin-top: 100px;
   display: flex;
   max-width: 1770px;
   overflow: hidden;
}

.gal1{
   background: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(../img/gal1.png);
   min-width: 442px;
   height: 550px;

}

.gal1:hover{
   background: url(../img/gal1.png);
}

.gal2{
   background: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(../img/gal2.png);
   min-width: 442px;
   height: 550px;
}

.gal2:hover{
   background: url(../img/gal2.png);
}

.gal3{
   background: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(../img/gal3.png);
   min-width: 442px;
   height: 550px;
}

.gal3:hover{
   background: url(../img/gal3.png);
}

.gal4{
   background: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(../img/gal4.png);
   min-width: 442px;
   height: 550px;
}

.gal4:hover{
   background: url(../img/gal4.png);
   
}

.vv{
   margin-top: 40px;
   margin-left: 40px;
   font-weight: bold;
   font-size: 24px;
   line-height: 33px;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   color: #FFFFFF;
}

.nn{
   margin-top: 40px;
   margin-left: -340px;
   margin-bottom: 40px;
   font-weight: bold;
   font-size: 18px;
   line-height: 25px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: #FFFFFF;
   transform: rotate(-90deg);
}

.partnery{
   margin: auto;
   margin-top: 150px;
   max-width: 1100px;
   height: 460px;
   background: linear-gradient(0deg, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)), url(../img/teatr.png);
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
}

.daty{
   width: 180px;
   height: 300px;
   margin-left: 190px;
   font-weight: bold;
   font-size: 72px;
   line-height: 98px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: #D1A954;
}

.zvezdy{
   height: 250px;
   margin-left: 100px;
}

.zvezda{
   margin-top: 20px;
   width: 230px;
   height: 24px;
   display: flex;
   justify-content: space-between;
}

.texty{
   margin-top: 25px;
   height: 150px;
   width: 540px;
   font-weight: bold;
   font-size: 36px;
   line-height: 150%;
   color: #FFFFFF;
}

.pt{
   margin: auto;
   margin-top: 150px;
   width: 1034px;
   height: 437px;
}

.gaz{
   width: 1100px;
   display: flex;
   flex-direction: column;
}

.gazprom{
   margin-top: 100px;
   display: flex;
   justify-content: space-between;
}

.gazprom1{
   margin-top: 80px;
   display: flex;
   justify-content: space-between;
}

.kt{
   margin: auto;
   margin-top: 150px;
   max-width: 1100px;
   height: 355px;
   display: flex;
   flex-direction: column;
}

.sm{
   margin-top: 100px;
   display: flex;
   justify-content: space-between;
}

.kont{
   width: 255px;
   height: 145px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   font-weight: bold;
   font-size: 16px;
   line-height: 22px;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   color: #FFFFFF;
}

.sms{
   width: 730px;
   height: 190px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.soob{
   display: flex;
   justify-content: space-between;
}

.inc{
   width: 390px;
   height: 100px;
   display: flex;
   flex-direction:column;
   justify-content: space-between;
}

.inc div{
   display: flex;
   justify-content: space-between;
}

.inc input{
   outline: none;
   width: 180px;
   height: 35px;
   background: #444444;
   border: 1px solid #616161;
   box-sizing: border-box;
   font-weight: 600;
   font-size: 12px;
   line-height: 150%;
   display: flex;
   align-items: center;
   color: #989898;
   padding: 15px;
}

.sobsh input{
   outline: none;
   width: 310px;
   height: 100px;
   background: #444444;
   border: 1px solid #616161;
   box-sizing: border-box;
   font-weight: 600;
   font-size: 12px;
   line-height: 150%;
   display: flex;
   align-items: center;
   color: #989898;
   padding: 0 0 50px 0;
   padding-left: 15px;
}

.otpr{
   display: flex;
   justify-content: space-between;
}

.text{
   width: 390px;
   height: 50px;
   font-weight: normal;
   font-size: 12px;
   line-height: 150%;
   color: #989898;
}

.knopka button{
   width: 190px;
   height: 50px;
   background: #D1A954;
   font-weight: bold;
   font-size: 18px;
   line-height: 25px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: #FFFFFF;
   border: none;
   transition: all 0.5s ease-in;
}

.knopka button:hover{
   color: #D1A954;
   background: white;
}

button div{
   margin: auto;
}

footer{
   width: 1100px;
   height: 50px;
   margin: auto;
   margin-top: 80px;
   margin-bottom: 30px;
   border-top: #565656 solid 1px;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;   
}

.text-footer{
   font-weight: normal;
   font-size: 12px;
   line-height: 150%;
   color: #989898;
}

